---
title: "Sky Gallery"
excerpt: "Gallery of Sky Pictures <br/><img src='/images/500x300.png'>"
collection: portfolio
---


  
  <!-- ---
  layout: default
  title: "Gallery"
  --- -->
  
  <!-- {% for i in (512..529) %}
    <div class="gallery-item">
      <img src="https://picsum.photos/600/600/?image={{ i }}" />
      <a href="#lightbox-{{ i }}">{{ i }}</a>
    </div>
  {% endfor %} -->


  <!-- Initial Code -->
  <!-- <div id="gallery">
    {% for i in (512..529) %}
      <div>
        <img src="https://picsum.photos/600/600/?image={{ i }}" />
        <a href="#lightbox-{{ i }}">{{ i }}</a>
      </div>
    {% endfor %}
  </div>
  
  {% for i in (512..529) %}
    <div class="lightbox" id="lightbox-{{ i }}">
      <div class="content">
        <img src="https://picsum.photos/1920/1080/?image={{ i }}" />
        <div class="title">No. <b>{{ i }}</b> from Picsum</div>
        <a class="close" href="#gallery"></a>
      </div>
    </div>
  {% endfor %} -->

  
  <!-- <div id="gallery">
    {% assign gallery_items = [
      {
        id: 1,
        thumbnail_url: "https://picsum.photos/600/600/?image=512",
        lightbox_id: "lightbox-1",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=512",
        lightbox_title: "No. <b>512</b> from Picsum"
      },
      {
        id: 2,
        thumbnail_url: "https://picsum.photos/600/600/?image=513",
        lightbox_id: "lightbox-2",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=513",
        lightbox_title: "No. <b>513</b> from Picsum"
      },
      {
        id: 3,
        thumbnail_url: "https://picsum.photos/600/600/?image=514",
        lightbox_id: "lightbox-3",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=514",
        lightbox_title: "No. <b>514</b> from Picsum"
      },
      {
        id: 4,
        thumbnail_url: "https://picsum.photos/600/600/?image=515",
        lightbox_id: "lightbox-4",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=515",
        lightbox_title: "No. <b>515</b> from Picsum"
      },
      {
        id: 5,
        thumbnail_url: "https://picsum.photos/600/600/?image=516",
        lightbox_id: "lightbox-5",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=516",
        lightbox_title: "No. <b>516</b> from Picsum"
      },
      {
        id: 6,
        thumbnail_url: "https://picsum.photos/600/600/?image=517",
        lightbox_id: "lightbox-6",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=517",
        lightbox_title: "No. <b>517</b> from Picsum"
      },
      {
        id: 7,
        thumbnail_url: "https://picsum.photos/600/600/?image=518",
        lightbox_id: "lightbox-7",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=518",
        lightbox_title: "No. <b>518</b> from Picsum"
      },
      {
        id: 8,
        thumbnail_url: "https://picsum.photos/600/600/?image=519",
        lightbox_id: "lightbox-8",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=519",
        lightbox_title: "No. <b>519</b> from Picsum"
      },
      {
        id: 9,
        thumbnail_url: "https://picsum.photos/600/600/?image=520",
        lightbox_id: "lightbox-9",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=520",
        lightbox_title: "No. <b>520</b> from Picsum"
      },
      {
        id: 10,
        thumbnail_url: "https://picsum.photos/600/600/?image=521",
        lightbox_id: "lightbox-10",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=521",
        lightbox_title: "No. <b>521</b> from Picsum"
      },
      {
        id: 11,
        thumbnail_url: "https://picsum.photos/600/600/?image=522",
        lightbox_id: "lightbox-11",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=522",
        lightbox_title: "No. <b>522</b> from Picsum"
      },
      {
        id: 12,
        thumbnail_url: "https://picsum.photos/600/600/?image=523",
        lightbox_id: "lightbox-12",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=523",
        lightbox_title: "No. <b>523</b> from Picsum"
      },
      {
        id: 13,
        thumbnail_url: "https://picsum.photos/600/600/?image=524",
        lightbox_id: "lightbox-13",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=524",
        lightbox_title: "No. <b>524</b> from Picsum"
      },
      {
        id: 14,
        thumbnail_url: "https://picsum.photos/600/600/?image=525",
        lightbox_id: "lightbox-14",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=525",
        lightbox_title: "No. <b>525</b> from Picsum"
      },
      {
        id: 15,
        thumbnail_url: "https://picsum.photos/600/600/?image=526",
        lightbox_id: "lightbox-15",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=526",
        lightbox_title: "No. <b>526</b> from Picsum"
      },
      {
        id: 16,
        thumbnail_url: "https://picsum.photos/600/600/?image=527",
        lightbox_id: "lightbox-16",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=527",
        lightbox_title: "No. <b>527</b> from Picsum"
      },
      {
        id: 17,
        thumbnail_url: "https://picsum.photos/600/600/?image=528",
        lightbox_id: "lightbox-17",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=528",
        lightbox_title: "No. <b>528</b> from Picsum"
      },
      {
        id: 18,
        thumbnail_url: "https://picsum.photos/600/600/?image=529",
        lightbox_id: "lightbox-18",
        lightbox_image_url: "https://picsum.photos/1920/1080/?image=529",
        lightbox_title: "No. <b>529</b> from Picsum"
      }
    ] %}
  
    {% for item in gallery_items %}
      <div>
        <img src="{{ item.thumbnail_url }}"/>
        <a href="#{{ item.lightbox_id }}">{{ item.id }}</a>
      </div>
    {% endfor %}
  </div>
  
  {% for item in gallery_items %}
    <div class="lightbox" id="{{ item.lightbox_id }}">
      <div class="content">
        <img src="{{ item.lightbox_image_url }}"/>
        <div class="title">{{ item.lightbox_title }}</div>
        <a class="close" href="#gallery"></a>
      </div>
    </div>
  {% endfor %} -->
  
  <!-- <div id="gallery">
    <div><img src="https://picsum.photos/600/600/?image=512"/><a href="#lightbox-1">512</a></div>
    <div><img src="https://picsum.photos/600/600/?image=513"/><a href="#lightbox-2">513</a></div>
    <div><img src="https://picsum.photos/600/600/?image=514"/><a href="#lightbox-3">514</a></div>
    <div><img src="https://picsum.photos/600/600/?image=515"/><a href="#lightbox-4">515</a></div>
    <div><img src="https://picsum.photos/600/600/?image=516"/><a href="#lightbox-5">516</a></div>
    <div><img src="https://picsum.photos/600/600/?image=517"/><a href="#lightbox-6">517</a></div>
    <div><img src="https://picsum.photos/600/600/?image=518"/><a href="#lightbox-7">518</a></div>
    <div><img src="https://picsum.photos/600/600/?image=519"/><a href="#lightbox-8">519</a></div>
    <div><img src="https://picsum.photos/600/600/?image=520"/><a href="#lightbox-9">520</a></div>
    <div><img src="https://picsum.photos/600/600/?image=521"/><a href="#lightbox-10">521</a></div>
    <div><img src="https://picsum.photos/600/600/?image=522"/><a href="#lightbox-11">522</a></div>
    <div><img src="https://picsum.photos/600/600/?image=523"/><a href="#lightbox-12">523</a></div>
    <div><img src="https://picsum.photos/600/600/?image=524"/><a href="#lightbox-13">524</a></div>
    <div><img src="https://picsum.photos/600/600/?image=525"/><a href="#lightbox-14">525</a></div>
    <div><img src="https://picsum.photos/600/600/?image=526"/><a href="#lightbox-15">526</a></div>
    <div><img src="https://picsum.photos/600/600/?image=527"/><a href="#lightbox-16">527</a></div>
    <div><img src="https://picsum.photos/600/600/?image=528"/><a href="#lightbox-17">528</a></div>
    <div><img src="https://picsum.photos/600/600/?image=529"/><a href="#lightbox-18">529</a></div>
  </div>
  <div class="lightbox" id="lightbox-1">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=512"/>
      <div class="title">No. <b>512</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-2">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=513"/>
      <div class="title">No. <b>513</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-3">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=514"/>
      <div class="title">No. <b>514</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-4">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=515"/>
      <div class="title">No. <b>515</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-5">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=516"/>
      <div class="title">No. <b>516</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-6">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=517"/>
      <div class="title">No. <b>517</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-7">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=518"/>
      <div class="title">No. <b>518</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-8">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=519"/>
      <div class="title">No. <b>519</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-9">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=520"/>
      <div class="title">No. <b>520</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-10">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=521"/>
      <div class="title">No. <b>521</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-11">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=522"/>
      <div class="title">No. <b>522</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-12">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=523"/>
      <div class="title">No. <b>523</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-13">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=524"/>
      <div class="title">No. <b>524</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-14">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=525"/>
      <div class="title">No. <b>525</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-15">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=526"/>
      <div class="title">No. <b>526</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-16">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=527"/>
      <div class="title">No. <b>527</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-17">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=528"/>
      <div class="title">No. <b>528</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div>
  <div class="lightbox" id="lightbox-18">
    <div class="content"><img src="https://picsum.photos/1920/1080/?image=529"/>
      <div class="title">No. <b>529</b> from Picsum</div><a class="close" href="#gallery"></a>
    </div>
  </div> -->

  <!-- <style>
    * {
      box-sizing: border-box;
    }
  
    body {
      margin: 5px;
      position: relative;
    }
  
    .gallery-item {
      display: grid;
      height: calc(100vh - 10px);
      grid-template: repeat(6, 1fr) / repeat(6, 1fr);
      grid-gap: 0.5em;
    }
    @media (max-width: 800px) {
      .gallery-item {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
      }
      .gallery-item > div {
        width: 48%;
        margin: 1%;
      }
    }
    @media (max-width: 800px) and (max-width: 350px) {
      .gallery-item > div {
        width: 98%;
      }
    }
  </style> -->
  


  <!-- -------------------------------------------------------------------------- -->
<!-- Basic Code  -->
<!-- <style>
  .container {
    text-align: center;
    margin: 20px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-item {
    margin: 10px;
  }

  .gallery-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .caption {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
</style>

<div class="container">
  <h2>Photo Gallery</h2>

  <div class="gallery">
    <div class="gallery-item">
      <img src="https://picsum.photos/600/600/?image=512" alt="Image 1">
      <div class="caption">Caption for Image 1</div>
    </div>

    <div class="gallery-item">
      <img src="https://picsum.photos/600/600/?image=513" alt="Image 2">
      <div class="caption">Caption for Image 2</div>
    </div>
  </div>
</div> -->

  <!-- -------------------------------------------------------------------------- -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox-plus-jquery.min.js"></script>

<div class="container">
  <!-- <h2>Photo Gallery</h2> -->

  <div class="gallery">
    <a href="https://picsum.photos/600/600/?image=512" data-lightbox="gallery">
      <img src="https://picsum.photos/600/600/?image=512" alt="Image 1">
      <div class="caption">Caption for Image 1</div>
    </a>

    <a href="https://picsum.photos/600/600/?image=513" data-lightbox="gallery">
      <img src="https://picsum.photos/600/600/?image=513" alt="Image 2">
      <div class="caption">Caption for Image 2</div>
    </a>

  </div>
</div>

<style>
    .container {
      text-align: center;
      margin: 20px;
    }
  
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .gallery a {
      margin: 10px;
      text-decoration: none;
      position: relative; /* To make captions relative to the image */
    }
  
    .gallery img {
      max-width: 100%;
      height: auto;
      border: 1px solid #ccc;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  
    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 10px;
      text-align: center;
      display: block; /* Initially set to display the caption */
    }
  
    /* Show the caption on hover */
    .gallery a:hover .caption {
      display: block;
    }
  
    /* Show the caption when the image is clicked */
    .gallery a:focus .caption {
      display: block;
    }
  </style>
  
  
  
